{% extends 'layout.html'%}
{%load staticfiles%}
{% block title %}
Customer Details
{% endblock %}

{%block body%}
<div class='container'>
	<h2 style='text-align:center;'>List of Customers</h2>
	{%for customer in customers%}
		<div class='container'>
			<div class='col-md-6 well'>
				<img src='{%static 'images.jpg'%}' class='img-circle test' width='250' height="250" >
				<ul>
					<li class='test'><strong>Name:</strong>{{customer.full_name}}</li>
					<li class='test'><strong>Address:</strong> {{customer.address}}</li>
					<li class='test'><strong>Mobile:</strong> {{customer.mobile}}</li>
				</ul>
			</div>
		</div>
	{%endfor%}
</div>
{%endblock%}
