
{%extends 'base.html'%}

{%block navbar%}

          <div class='navbar'>
            <nav class='navbar navbar-inverse navbar-fixed-top'>
                <div class='container'>

                    <div class='navbar-header'>
                        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#myNavbar'><span class='glyphicon glyphicon-menu-hamburger'></span></button>
                        <a class='navbar-brand' href='#'>Pasal</a>
                    </div><!--navbar-header-->

                    <div class='collapse navbar-collapse' id='myNavbar'>
                        <ul class='nav navbar-nav'>
                            <li><a href='#'>Home</a></li>

                            <li class='dropdown'>
                                <a href='{% url "category"%}' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>

                                <ul class='dropdown-menu'>
                                    {%for p in parent%}
                                        <li class="dropdown-submenu"><a href='#' data-toggle='dropdown'>{{p.category_name}}</a>
                                           <ul class='dropdown-menu'>
                                        {%for category in categories%}
                                            {%if category.parent_id == p.id%}
                                                    <li><a href='#' tabindex='-1'>{{category.category_name}}</a></li>
                                                 <!--dropdown-menu-->
                                            {%endif%}{# if #}
                                        {%endfor%}{# category #}
                                        </ul>
                                       </li><!--dropdown-submenu-->
                                     {%endfor%}{# parent #}
                                </ul><!--dropdown-menu-->
                            </li><!--dropdown-->
                            <li><a href='{%url "products"%}'>Products</a></li>
                            <li><a href='{%url "customer"%}'>Customers</a></li>

                        </ul><!--nav navbar-nav-->

                         <ul class='nav navbar-nav navbar-right'>
                            {#The signup button should not appear in '/signup' url#}
                            {% if not  '/signup' in request.get_full_path %}
                            <li>
                            <button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#signup"><span class='glyphicon glyphicon-user'></span> SignUp</button></li>
                            {%endif%}
                            {#The login button should not appear in '/login' url#}
                            {%if not '/login' in request.get_full_path %}
                            <li><button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login"><span class='glyphicon glyphicon-log-in'></span> Login</button></li>
                            {%endif%}

                        </ul><!--nav navbar-nav navbar-right-->
                        
                        <form class='navbar-form navbar-right'>    
                            <div class='form-group'>
                                <input type='text' placeholder='Search' class='form-control'>
                            </div>
                                <button type='submit' class='btn'><span class='glyphicon glyphicon-search'> </span></button> 
                        </form><!--navbar-form navbar-right-->
                    
                        </div><!--collapse navbar-collapse-->

                        <!--Modal-->
                       
                    
                </div><!--container--> 
            </nav><!--Nav bar-->
          </div><!--Main container-->

{#The login button should not appear in '/login' url#}
        {%if not '/login/' in request.get_full_path %}
        <!--LOGIN-->
        <div class='modal fade' id='login' role='dialog'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class='modal-title'>Login</h4>
                    </div><!--modal-header-->

                    <div class='modal-body'>
                        <form class='form' action='/login/' method='post'>
                        {%csrf_token%}
                            <div class='form-group'>
                            <input type='text' placeholder='Username' class='form-control' name='username'>
                        </div>
                        <div class='form-group'>
                            <input type='password' placeholder='Password' class='form-control' name='password'>
                        </div>
                        <button type='submit' class='btn btn-default' value='Login'>Login</button>
                        </form>
                    </div><!--modal-body-->

                    
                </div><!--modal-content-->

            </div><!--modal-dialog-->
        </div><!--modal fade-->
{%endif%}


{#The signup button should not appear in '/signup' url#}
{% if not  '/signup' in request.get_full_path %}
<!--SIGNUP-->
 <div class='modal fade' id='signup' role='dialog'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class='modal-title'>SignUp</h4>
                    </div><!--modal-header-->

                    <div class='modal-body'>
                        <form class='form' action='/signup/' method='post' name='signup'>{%csrf_token%}

                        <div class='form-group'>
                            <input type='text' placeholder='First Name' class='form-control' name='first_name'>
                        </div>

                        <div class='form-group'>
                            <input type='text' placeholder='Last Name' class='form-control' name='last_name'>
                        </div>

                        <div class='form-group'>
                            <input type='text' placeholder='Address' class='form-control' name='address'>
                        </div>
                        <div class='form-group'>
                            <input type='text' placeholder='Moblie Number' class='form-control' name='mobile'>
                        </div>
                        <div class='form-group'>
                            <input type='email' placeholder='Email' class='form-control' name='email'>
                        </div>

                        <div class='form-group'>
                            <input type='text' placeholder='Username' class='form-control' name='username'>
                        </div>

                        <div class='form-group'>
                            <input type='password' placeholder='Password' class='form-control' name='password1'>
                        </div>
                        
                         <div class='form-group'>
                            <input type='password' placeholder='Password Confirmation' class='form-control' name='password2'>
                        </div>
                        
                        
                        <button type='submit' class='btn' value='Signup' onclick='CheckPassword(document.signup.password1,document.signup.password2)'>Submit</button>
                        </form>
                    </div><!--modal-body-->

                </div><!--modal-content-->

            </div><!--modal-dialog-->
        </div><!--modal fade-->

{%endif%}


{%endblock%}