{% extends 'layout.html' %}
{%block title%}
Products
{%endblock%}

{% block body %}
<style>

</style>
{% load staticfiles %}
<div class='container-fluid'>
    <div class='container'>
    <h1>List of Products</h1>
    </div>
    {% for product in products %}
    <div class='row well'>                                                                             
        <div class ='col-md-6'>
        <ul class='list-group'>
            <li class='list-group-item'><h2><a href='/product/{{product.id}}'>{{product.product_name}}</a></h2></li>
            <li class='list-group-item'><strong>Name:</strong><span class='badge'>{{product.product_name}}</span></li>
            <li class='list-group-item'><strong>Type:</strong><span class='badge'>{{product.category}}</span></li>
            <li class='list-group-item'><strong>Code:</strong><span class='badge'>{{product.product_code}}</span></li>
           
            <li class='list-group-item'><strong>Price:</strong><span class='badge'>{{product.price}}</span></li>
            
            <li class='list-group-item'><strong>Available Quantity:</strong><span class='badge'>{{product.available_quantity}}</span></li>
            <li class='list-group-item'><strong>Added Date:</strong><span class='badge'>{{product.created_date}}</span></li>
            
            <li class='list-group-item'><strong>Updated Date:</strong><span class='badge'>{{product.updated_date}}</span></li>
        </ul>
        
       </div>

        <div class='col-md-6'>
         <img src='{{product.primary_image.url}}' align='right' width=75% height='75%' class='img-thumbnail' ,float='right'>
          
         </div>
        </div>
    {%endfor%}
   
</div>    
</body>
{% endblock %}